<div class="home-grid">
        <div layout="row" layout-align="space-around none" layout-wrap>
            <md-card flex="80" class="construction">
                <h2 class="md-display-4" md-colors="{color: 'primary-500'}">Under Construction!</h2>
                <h4 class="md-title">Please excuse the mess while I finish creating the new version of my portfolio and blog.  You can find an up to date version of my resume and projects here or checkout the old version of my site.  Keep in mind that the info in the old version has not been updated in several years!</h4>
            </md-card>
          </div>



</div>